* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  position: relative;
  overflow-x: hidden;
  font-family: 'Beaufort';
}

h1 {
  font-size: 48px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}