/* Beaufort */

@font-face {
  src: url('../fonts/Beaufort/Beaufort-Regular.woff') format('woff');
  font-family: 'Beaufort';
}
@font-face {
  src: url('../fonts/Beaufort/Beaufort-Medium.woff') format('woff');
  font-family: 'Beaufort';
  font-weight: bold;
}